<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/tablet.css">
    <link rel="stylesheet" href="../css/notebook.css">
    <link rel="stylesheet" href="../css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d48642b65b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="​https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css​">
</head>
<body>
    <header class="main-header">
        <section class="headerfijo">
            <div class="header-top">
                <div class="logo-y-busqueda">
                    <div class="divlogo">
                        <figure class="logo-liebre"><img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"></figure>
                    </div>
                    <div class="divlupaybarra">
                        <input type="text" name="barra-busqueda" placeholder="Buscar productos, marcas" class="inputlupa">
                        <a class="lupa" href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
                <p class="header-logo-de-mano"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav class="menu-tyd">
                <ul class="navbar-izq">
                    <li type="none"><a href="/">Ofertas</a></li>
                    <li type="none"><a href="#">Tiendas Oficiales</a></li>
                    <li type="none"><a href="#">Vender</a></li>
                    <li type="none"><a href="#">Ayuda</a></li>
                </ul>
                <ul class="navbar-der">
                    <li  type="none" class = "logo-card">Creá tu cuenta <a href="/register"><i class="far fa-id-card"></i></a></li>
                    <li  type="none" id="login">Ingresá <a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
                    <li  type="none">Mis compras<a href="#"><i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <nav class="barra-burguer">
                <div class="contenedor-btn-burguer">
                    <div id="btn-burguer">
                        <i class="fa fa-bars burger"></i>
                    </div>
                </div>
                <div class="lista-desplegable-burguer">
                    <ul class="navbar-lista-burguer">
                        <li type="none"><a href="/">Ofertas</a></li>
                        <li type="none"><a href="#">Tiendas Oficiales</a></li>
                        <li type="none"><a href="#">Vender</a></li>
                        <li type="none"><a href="#">Ayuda</a></li>               
                        <li type="none"><a href="/register">Creá tu cuenta</a></li>               
                        <li type="none"><a href="/login">Ingresá</a></li>               
                        <li type="none"><a href="#">Mis compras</a></li>               
                    </ul>   
                </div>
            </nav>
    </header>
    <main>
        <section class="seccion-formulario">        
            <!--Formulario-->
            <form class="inicio-formulario" action="/crear-producto" method="POST">
                <div class=formulario-de-registro>
                    <h2 class="mainh2">Formulario de Registro</h2>
                    <br>
                    <input class ="inputs" type="text" name="nombreYapellido" placeholder="Nombre y apellido" required pattern="[a-zA-Z]+">
                    <input class ="inputs" type="text" name="nombreDeUsuario" placeholder="Nombre de usuario" required pattern="[a-zA-Z]+">
                    <input class ="inputs" type="email" name="email" placeholder="email" required>
                    <br><br>
                    <h3 class="mainh3">Fecha de Nacimiento</h3>
                    <br>
                    <input class ="inputs" type="date" name="fecha" required>
                    <input class ="inputs" type="text" name="domicilio" placeholder="Domicilio" required>
                    <br><br><h3 class="mainh3">Perfil del usuario</h3><br>
                    <div class="radius">
                        <div class="comprador">
                            <input type="radio" name="perfil" value="Comprador" id="comprador">
                            <label class="comprador-vendedor" for="comprador">Comprador</label>
                        </div>
                        <div class="vendedor">
                            <input type="radio" name="perfil" value="Comprador" id="vendedor">
                            <label class="comprador-vendedor" for="vendedor">Vendedor</label>
                        </div>        
                    </div>
                    <br><h3 class="mainh3">Intereses</h3>
                    <div class="intereses">
                        <div>
                            <input type="checkbox" name="intereses" value="electro" id="electro">
                            <label for="electro">Electro</label>
                        </div>
                        <div>
                            <input type="checkbox" name="intereses" value="moda" id="moda">
                            <label for="moda">Moda</label>
                        </div>    
                        <div>
                            <input type="checkbox" name="intereses" value="hogar" id="hogar">
                            <label for="hogar">Hogar</label>
                        </div>
                        <div>
                            <input type="checkbox" name="intereses" value="jugueteria" id="jugueteria">
                            <label for="jugueteria">Juguetería</label>
                        </div>
                        <div>
                            <input type="checkbox" name="intereses" value="vidasana" id="vidasana">
                            <label for="vidasana">Vida Sana</label>
                        </div>
                    </div>
                    <h3 class="mainh3">Foto de Perfil</h3><br>
                    <div class="foto-de-perfil">
                     <!--   <div class="etiqueta-foto-perfil"><label for="fotoperfil"> </label></div>-->
                        <div class="boton-foto-perfil"><input type="file" name="fotoperfil" value="" accept="jpg gif jpeg png" class="botonfile"></div>
                    </div>
                    <br><h3 class="mainh3">Contraseña</h3><br>
                    <input minlength="4" class ="inputs" type="password" name="pass" placeholder="Ingrese contraseña" required >
                    <input minlength="4" class ="inputs" type="password" name="pass" placeholder="Repetir contraseña" required>
                    <div class="botones-enviar-borrar">
                        <button class="boton-enviar" type="submit">Enviar</button>
                        <button class="boton-borrar-datos" type="reset">Borrar Datos</button>
                    </div>
                </div>    
            </form>
        </section>
    </main>
    <footer>
        <section class="seccion-footer">
            <article class="art-footer">
                <h2 class="footer-fas-fa"><i class="fas fa-credit-card"></i></h2>
                <h2 class="footerh2">Pagá con tarjeta o en efectivo</h2>
                <p class="footerp">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en 7puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="art-footer">
                <h2 class="footer-fas-fa"><i class="fas fa-gift"></i></h2>
                <h2 class="footerh2">Envío gratis desde $ 2.500</h2>
                <p class="footerp">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            </article>
            <article class="art-footer">
                <h2 class="footer-fas-fa"><i class="fas fa-user-shield"></i></h2>
                <h2 class="footerh2">Seguridad, de principio a fin</h2>
                <p class="footerp">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@</p>
            </article>

        </section>
        <article class="copyright">
         <br>
           <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>   
    </footer>
</body>
</html>