*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*=======================================*/
               /* BODY */
/*=======================================*/

body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

main{
    background-color: #ebebeb;
 }
 

/*=======================================*/
              /* HEADER */
/*=======================================*/

.main-header{
    display: flex;
    flex-direction: column;
}
.headerfijo{
    background-color: #EAC926;
    position: fixed;
    top:0px;
    z-index: 1;
    width: 100%;
}
.s-imagen-header{
    padding-top: 10px;
}
.header-top{
    padding: 10px;
    padding-bottom: 0px;
}
.logo-y-busqueda{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divlogo{
    width: 30%;
}
.logo-liebre img{
    width: 100%;
    padding-top: 5px;
    padding-left: 3vw;
    padding-right: 3vw;
}
.divlupaybarra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}
.inputlupa{
    border:none;
    height: 20px;
    width: 85%;    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 7px;
}
.lupa{
    background-color: white;
    width: 12%;
    height: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 5px;
}
.header-logo-de-mano{
    font-size: 4vw;
    text-align: center;
    margin-top: 15px;    
    margin-bottom: 20px;
}
.menu-tyd{
    display:none;
}
/*=======================================*/
          /* MENÚ HAMBURGUESA */
/*=======================================*/

.barra-burguer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-btn-burguer{
    background-color: blue;
    color: white;
    border-radius: 3px;
    padding: 2px 3px;
    margin-bottom: 3px;
 }
.lista-desplegable-burguer{
    display: none;
    width: 100%;
}
.contenedor-btn-burguer:hover + .lista-desplegable-burguer{
    display: block;
}

.lista-desplegable-burguer:hover{
    display: block;
}
.navbar-lista-burguer{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.navbar-lista-burguer li{
    width: 40%;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 3px;
    border-radius: 3px;
}
.navbar-lista-burguer li a{
    color:white;
    text-decoration: none;
    font-size: 4vw;
}
.navbar-lista-burguer li:hover{
    background-color: rgb(78, 78, 42);
    color: white;
    text-decoration-color: teal;
}
.s-imagen-header{
    display: flex;
    padding: 0px;
    width: 100%;
    margin-top: 110px;
}

/*=======================================*/
              /* MAIN */
/*=======================================*/

.div-login{
    margin-top: 20px;
}
.figura{
    padding: 3px;
}
p{
    font-size: 12px;
}
img{
    width: 100%;
    margin: 0px;
}
h2{
    padding: 10px 0px 0px 10px;
}
.seccion-ofertas{
    padding-bottom: 1px;
}
.descripciones{
    font-size: 16px;
}

/*=======================================*/
            /* ARTICULOS*/
/*=======================================*/

.descripciones{
    display: none;
}
.articulos{
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.detalle-articulos{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.delivery i{
    height: 10px;
    transition: transform 2s;
}
.delivery i:hover{
    transform: rotateZ(360deg);
}
.delivery i{
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: solid 1px #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    left: 85%;
    top: -30px;
}
.precio-porcentaje{
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
}
.descuentos{
    color: green;
    font-size-adjust: 1.5rem;
    font-weight: bolder;
    margin-left: 10px;
}
.precios{
    font-size-adjust: 1.5rem;
    font-weight: bolder;
}

.ultimo-articulo{
    border-top: solid 1px #ebebeb;
    padding : 10px;
}

/*=======================================*/
               /* FOOTER */
/*=======================================*/

footer{
    background-color: white;
    text-align: center;
    padding: 10px;
}
.footer-tc, .footer-paquete, .footer-seguridad{
    color: blue;
    font-size: 5vw;
}
.footerh2{
    font-size: 6vw;
}
.footerp{
    font-size: 3vw;
    padding-top: 5px;
}
